/*
 *   @project     A1_AVA2_UVA_2020_1
 *   @author      Mário Jorge (mariojgmaster@yahoo.com.br)
 *   @Git         MJRibeiroTriscal (https://github.com/mjRibeiroTriscal)
 */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

#container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section form.gridContainer {
    width: 80%;
}

label.labelFirst,
h3 {
    font-size: 12px;
    font-weight: bold;
}

label {
    margin-left: 3px;
}

input {
    border: none;
    outline: none;
    box-shadow: 0;
}

input[type=text],
input[type=date] {
    width: 100%;
    height: 50%;
    padding: 1px 3px;
    border-bottom: 2px solid Blue;
    background: none;
}

input[type=submit] {
    width: 60%;
    height: 100%;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 10px;
}

input[type=submit]:active {
    background-color: rgba(0, 0, 255, 0.9);
}

.gridContainer {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: auto auto;
}

.gridItem {
    padding: 20px;
    margin: 5px;
}

.blockContainer {
    border-radius: 10px;
    background-color: rgba(240, 240, 255, 0.7);
    box-shadow: 1px 1px 2px rgba(0, 0, 255, 0.1), 1px 1px 2px rgba(0, 0, 255, 0.2);
}